doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    div.container
      div.header
        #logo
          a(href='/')
            img(src='/assets/logo.png')
        #header-links
          a(href='#') Products
          a(href='/mission') Our Mission
          a(href='#') Sustainability
          a(href='#') Dye Process
          a(href='#') Olympic Gold Standard
          a(href='#') Press
      #content
        div.nav-thing
          ul
            li
              a(href='/mission') OUR MISSION
            li
              a(href='#') ORGANIC SUPIMA
            li
              a(href='#') OUR DYE PROCESS
            li
              a(href='#') SUSTAINABILITY
            li
              a(href='#') PRESS
        #main-content
          img(src='/assets/about-us.jpg')
          #quote
            #good
              h4 LIVE GOOD WAS CREATED IN RESPONSE TO A DILEMMA:
            #how
              h3 How can you take great care of yourself while acting responsibly toward the environment?
          #text-stuff
            p We all want to live a good life -- one in which we contribute something positive to the world. But we also yearn for "the good life," a state in which our own mental and physical health is in balance.
            br
            p How can you achieve both goals, caring for your community and environment while respecting your own needs for personal fulfillment?
            br
            p We founded Live Good to forge a path toward that dual achievement. We believe you don't need to compromise. You can live sustainably, supporting the long-term health of your neighbors and the planet, and also live well, in elegance and comfort. We want to help you find that state of harmony with nature, with your community, and with yourself.
            br
            p So we've start a business that reflects this ethos: a Live Good line of home products that upholds each and every aspect of our mission. Everything we make is local. Everything is sustainably sourced and organic. And everything is designed to increase your quality of life. We haven't sacrificed luxury and beauty in our commitment to supporting practices that are ecologically and economically sound.
  body
    block content